.book-now {
    position: fixed;
    bottom: 160px;
    right: 30px;
    background-color: #25d366;
    color: white;
    padding: 12px 20px;
    border-radius: 50px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    font-weight: bold;
    text-decoration: none;
    font-family: sans-serif;
    z-index: 999;
    transition: background 0.3s;
    background-color: #e5d1b7;
    color: white;
    text-shadow: 1px 1px 0px #555555;   
  }
  
  .book-now:hover {
    /* background-color: #128c7e; */
    background-color: #e5d1b7;
    color: #595959;
    text-shadow: 1px 1px 0px #555555;   
  }